@model PathOrder.Models.OrdenDespacho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenDespacho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWB_BL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWB_BL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AWB_BLOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AWB_BLOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadBultos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadBultos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgenteAduanero.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenteAduanero.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAM.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAM.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha.IdFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha.IdFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDespacho.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDespacho.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdenDespacho }) |
    @Html.ActionLink("Back to List", "Index")
</p>
