@model PathOrder.Models.FacturaMercaderia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacturaMercaderia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factura.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mercaderia.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mercaderia.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFacturaMercaderia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
