@model IEnumerable<PathOrder.Models.Fecha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaEnumeracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRetiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCancelacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaLevante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPrecosteo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KMMP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEnumeracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRetiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCancelacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaLevante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPrecosteo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KMMP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFecha }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFecha }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFecha })
        </td>
    </tr>
}

</table>
