@model PathOrder.Models.Canal

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminarlo?</h3>
<div>
    <h4>Canal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista de Canales", "Index")
        </div>
    }
</div>
