@model PathOrder.Models.Canal

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Canal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCanal }) |
    @Html.ActionLink("Volver a la Lista de Canales", "Index")
</p>
