@model IEnumerable<PathOrder.Models.Bulto>

@{
    ViewBag.Title = "Index";
}

<h2>Bultos - Lista</h2>

<p>
    @Html.ActionLink("Crear Nuevo Bulto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDespacho.Prioridad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenDespacho.Prioridad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdBulto }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.IdBulto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdBulto })
        </td>
    </tr>
}

</table>
